.switch-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: Arial, sans-serif;
  transform: scale(0.5); /* Shrink to 50% */
  transform-origin: left;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: (125, 211, 252); /* Default for Encrypted rgb(170, 32, 32) */
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(255, 255, 255);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgb(34, 155, 7); /* For Decrypted */
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: rgb(248, 249, 249); /* Dot becomes black on white background */
}

.status-text {
  font-size: 0.6rem;
  font-weight: bold;
}


/* 
          <SwitchToggle
            id="master-decrypt"
            checked={masterDecrypt}
            onCheckedChange={handleMasterDecryptToggle}
          /> */